
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: #292a5e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;

}